name: Deploy Calculator to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Deploy Calculator to IIS
        run: |
          echo Deploying Calculator
          xcopy . C:\inetpub\calculator /EXCLUDE:.git,.github /Y /E /I /EXCLUDE:.git,.github

      - name: Restart IIS App Pool
        run: |
          %windir%\system32\inetsrv\appcmd recycle apppool /apppool.name:DefaultAppPool
